<?xml version="1.0"?>
<config>
	<modules>
		<Mio_Faq>
			<version>1.0.0</version>
		</Mio_Faq>
	</modules>
	<global>
		<blocks>
			<miofaq>
				<class>Mio_Faq_Block</class>
			</miofaq>
		</blocks>
		<helpers>
			<miofaq>
				<class>Mio_Faq_Helper</class>
			</miofaq>
		</helpers>
		<models>
			<miofaq>
				<class>Mio_Faq_Model</class>
				<resourceModel>miofaq_resource</resourceModel>
			</miofaq>
			<miofaq_resource>
				<class>Mio_Faq_Model_Resource</class>
				<entities>
					<faqs>
						<table>mio_faqs</table>
					</faqs>
					<category>
						<table>mio_faqs_category</table>
					</category>
				</entities>
			</miofaq_resource>
		</models>
		<resources>
			<miofaq_setup>
				<setup>
					<module>Mio_Faq</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</miofaq_setup>
			<miofaq_write>
				<connection>
					<use>core_write</use>
				</connection>
			</miofaq_write>
			<miofaq_read>
				<connection>
					<use>core_read</use>
				</connection>
			</miofaq_read>
		</resources>
	</global>
	<frontend>
		<routers>
			<miofaq>
				<use>standard</use>
				<args>
					<module>Mio_Faq</module>
					<frontName>miofaq</frontName>
				</args>
			</miofaq>
		</routers>
		<layout>
			<updates>
				<miofaq>
					<file>mio/faq.xml</file>
				</miofaq>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<miofaq>
				<use>admin</use>
				<args>
					<module>Mio_Faq</module>
					<frontName>miofaq</frontName>
				</args>
			</miofaq>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<miofaq>
					<file>mio/faq.xml</file>
				</miofaq>
			</updates>
		</layout>
	</adminhtml>
</config>